.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.html
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.svg
*.v.d
*.vio
*.vo
*.vos
*.vok
_CoqProject
.coq-native/
.csdp.cache
.devcontainer
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
common
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
*#
*.swp